@model GymSite.Models.CityModels.CityDetail

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.DisplayMenu == "Yes")
{
    <h2>Delete</h2>

    <h3>Uh.. what happened?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CityId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-success" /> |
                @Html.ActionLink("Back to Cities", "Index")
            </div>
        }
    </div>
}
else
{
    <h2>Huh, you must just be confused!  Let's head @Html.ActionLink("home", "Index", "Home").</h2>
}
