@model GymSite.Models.CityModels.CityDetail

@{
    ViewBag.Title = "Details";
}

<style>
    a {
        color: #5cb85c;
    }

        a:hover {
            color: #5cb85c;
        }

    .buttonfix a {
        color: whitesmoke;
    }

    th {
        color: whitesmoke;
    }

    tr {
        color: whitesmoke;
    }

    td {
        color: whitesmoke;
    }
</style>

<h2>Gyms in @Html.DisplayFor(model => model.Name)</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6">

            @*<h4>@Html.DisplayNameFor(model => model.Gyms)</h4>*@

            @foreach (var gym in Model.Gyms)
            {
                <dl class="dl-horizontal">
                    <dd>
                        <h4>@Html.DisplayFor(model => gym.Name) | @Html.DisplayFor(model => gym.Address)</h4>
                        @Html.ActionLink("Learn More", "Details", "Gym", new { id = gym.GymId }, null)
                    </dd>
                </dl>
                <hr />
            }
        </div>

        <div class="col-6">
            <img src="~/Images/dumbbell.png" class="img-fluid" />
        </div>

    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.CityId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<button onclick="goBack()" class="btn btn-success">Back to Cities</button>

<script>
    function goBack() {
        window.history.back()
    }
</script>
