<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color: #212121; color: whitesmoke">
    <div class="navbar navbar-expand-sm">
        <div class="container rounded" style="background-color: #343a40;">
            <div class="navbar-brand">
                @Html.ActionLink("Gymsite", "Index", "Home")
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content container">
        <div class="row">
            <div class="col-12">
            @RenderBody()
            <hr />
            <footer style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; background-color: #343a40;" class="rounded">
                <p style="text-align: center;">&copy; @DateTime.Now.Year - @Html.ActionLink("GymSite", "About", "Home")</p>
            </footer>
            </div>
            </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
