@model GymSite.Models.StateModels.StateDetail

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.DisplayMenu == "Yes")
{
    <h2>Remove State</h2>

    <h3>I can't believe they left the USA, wow.</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.StateId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StateId)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abbreviation)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-success" /> |
                @Html.ActionLink("Back to States", "Index")
            </div>
        }
    </div>
}
else
{
    <h2>Huh, you must just be confused!  Let's head @Html.ActionLink("home", "Index", "Home").</h2>
}
