@model GymSite.Models.StateModels.StateDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            @*<dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>*@
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Abbreviation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Abbreviation)
                </dd>*@
            </dl>
        </div>

<div class="col-6">

    <h4>@Html.DisplayNameFor(model => model.Cities) </h4>

        @foreach (var city in Model.Cities)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => city.Name)
                    @Html.ActionLink("Gyms", "Index", "City") @*link to right place, gym by city*@
                    
                </dd>

            </dl>
        }
</div>
        </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.StateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
