@model GymSite.Models.GymModels.GymDetail

@{
    ViewBag.Title = "Details";
}

<style>
    a {
        color: #5cb85c;
    }

        a:hover {
            color: #5cb85c;
        }

    .buttonfix a {
        color: whitesmoke;
    }

    th {
        color: whitesmoke;
    }

    tr {
        color: whitesmoke;
    }

    td {
        color: whitesmoke;
    }
</style>

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MonthlyCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MonthlyCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Hours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Website)
                </dt>

                <dd>
                    <a href="http://@Model.Website" target="_blank">Link</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Equipment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Equipment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockerRoom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockerRoom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Classes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Classes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PersonalTraining)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PersonalTraining)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
            <hr />
        </div>

        <div class="col-6">

            <h4>Reviews</h4>
            <hr />
            <dl>
                <dt>
                    Average Rating
                </dt>
                <dd>

                    <p>@Model.OverallRating</p>
                    <hr />
                    <dt>
                        Been there?  Tell us what you think!
                    </dt>
                <dd>
                    @using (Html.BeginForm("SetRatings", "Ratings", new { id = Model.GymId }))
                    {

                        @Html.HiddenFor(x => x.GymId)
                        
                        for (int i = 1; i <= 5; i++)
                        {
                            <input type="radio" name="rank" value="@i" /> @i
                        }
                        <hr />
                        <input type="submit" class="btn btn-success" value="Submit" />
                    }
                </dd>
            </dl>
            <hr />

            @*<dl>

                <dt>
                    Reviews
                </dt>

                @foreach (var review in Model.Ratings)
                {
                    <dt>
                        
                    </dt>
                }

            </dl>*@

    <button onclick="goBack()" class="btn btn-success">Back to Gyms</button>
</div>
        </div>
    </div>

<script>
    function goBack() {
        window.history.back()
    }
</script>