@model IEnumerable<GymSite.Models.GymModels.GymListItem>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: #5cb85c;
    }

        a:hover {
            color: #5cb85c;
        }

    .buttonfix a {
        color: whitesmoke;
    }

    th {
        color: whitesmoke;
    }

    tr {
        color: whitesmoke;
    }

    td {
        color: whitesmoke;
    }
</style>

<body style="background-color: #121212">

    @if (ViewBag.DisplayMenu == "Yes")
    {
        <h2>Gym Database</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        if (TempData.ContainsKey("SaveResult"))
        {
            <div class="alert alert-success" role="alert">

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>&times;</span>
                </button>
                @TempData["SaveResult"]
            </div>
        }


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlyCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a href="http://@item.Website" target="_blank">@Html.DisplayFor(modelItem => item.Website)</a>
                    </td>

                    <td>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.GymId })</p>
                        @if (ViewBag.DisplayMenu == "Yes")
                        {
                            <p>@Html.ActionLink("Edit", "Edit", new { id = item.GymId })</p>
                            <p>@Html.ActionLink("Delete", "Delete", new { id = item.GymId })</p>
                        }
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <h2>Huh, you must just be confused!  Let's head @Html.ActionLink("home", "Index", "Home").</h2>
    }

</body>